.card{
   
position: relative;
background-color: rgba(16, 219, 233, 0.932);
border: 1px solid black;
border-radius: 6px;
box-shadow: 2px 2px 2px black;
margin: 5px;
width: 300px;
height: auto;
}
.btn{
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
}
h1{
    margin: 10px;
}
.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}