<header>
    <div class="container-fluid  cabecera fixed-top">
      <div class="row justify-content-between">
          <div class="columna col-3 mt-1">
          <img class="img-fluid float-start" id="logospain" src="images/spainskills.jpg" alt="Logo de Spain Skills">
          </div>
          <div class="columna col-3 mt-1 mx-3">
              <img class="img-fluid float-end" id="logodrag" src="images/drag.png"  alt="Logo del proyecto DragonSkills">
          </div>
      </div>
      <div class="row text-contenidoreservacenter mb-3">
          <h1>Dragon Skills</h1>
          
      </div>
<div class="row ">
    <div class="col-4 border border-dark">
       <a routerLink=""><button class="btn">Reservas</button></a>
    </div>
    <div class="col-4 border border-dark">
        <a routerLink="mesa">  <button class="btn">Mesas</button></a>
    </div>
    <div class="col-4 border border-dark">
        <a routerLink="perfil"> <button class="btn">Perfil</button></a>
    </div>
</div>

      <!-- <div class="row">
        <div class="col-3">
            <button (click)="volverAtras()">Volver Atrás</button>
        </div>
      </div> -->
      </div>
  </header>
